
 @-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  


  .top__cart {
    height: 400px;
    background-image: url(img/topcart.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading__big {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    margin-top: 127px;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;
    
    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        }
    
    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item_number {
        width: 71px;
        height: 51px;
        left: 837px;
        top: 523px;
        background: #F7F6F6;
        border-radius: 6px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
    }
    &__content {
        grid-column: span 8;
    }

    &__price {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        text-decoration: underline;
        color: #000000;
    }

    &__button {
        border: 1px solid #000000;
        border-radius: 50px;
        background-color: transparent;
        width: 200px;
        height: 37px;
        transition: all 0.3s;

        &:hover {
            background: #000000;
            color: #FFFFFF;
        }

        &_form {
            width: 290px;
            animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
        }
    }

.order {
    padding-bottom: 35px;
    padding-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &__info {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 44px;
        color: #000000;
        padding-left: 27px;
        padding-right: 64px;
    }

    &__name {
        border-bottom: 1px solid #CACDD8;
    }

    &__price {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 68px;
        margin-bottom: 18px;
    }

    &__final {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__button {
        width: 290px;
        height: 41px;
    }
}
